{% extends "base.html" %}

{% block content %}
<div class="users">
    <div>
        <h3>Small Lib</h3>
        <p class="main_text">
            We are sure that many of us like to feel the book in our hands.
            No matter how they say, an e-book cannot be compared with a regular book.
        </p>
        <p class="main_text">
            This is a web service that allows you to share books with other users.
            Exchange, find those books that will be of interest to you.
        </p>
    </div>

    <div class="sections">
<!--        <div class="section">-->
<!--            <h3 class="section-title">Sections</h3>-->
<!--        </div>-->

        <div class="section">
            <div class="user-card">
                <h4>Users</h4>
                {% for user in user_res %}
                <p><a href='/user/{{ user.id }}'>{{ user.name }}</a></p>
                {% endfor %}
                <button class="btn"><a href="/users" class="a-buttons">See all users</a></button>
            </div>
            <div class="user-card">
                <h4>Books</h4>
                {% for book in books_res %}
                <p>{{ book.title }}</p>
                {% endfor %}
                <button class="btn"><a href="/books" class="a-buttons">See all books</a></button>
            </div>
            <div class="user-card">
                <h4>Genre</h4>
                <p> Сlassical literature </p>
                <p> Historical novel </p>
                <p> Romantic literature</p>
                <button class="btn">See all genres</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
