body {
    background-color: #E6F5E5;
}
a {
    text-decoration: none;
    color: black;
}
/* Buttons */
.btn {
    color: white;
    background-color: #404A46;
    border_color: white;
}
.a-buttons {
    text-decoration: none;
    color: white;
}
.btn-outline-primary {
    border-color: #404A46;
}


/* Main page */
.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}
.user-card {
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* User page */
.main{
    margin: 2% 8%;
}
.user-name-name {
    margin: 0 12%;
    display: flex;
    justify-content: start;
}
.books {
    margin: 2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book {
    width: 45%;
    margin: 2% 2%;
    border: 2px solid;
    border-radius: 5% 5%;
}
.book-card {
    margin: 5% 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.books-text {

}

/* Pages */
.pages-main{
    margin: 0 8%;
}
.input{
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}