/* User page */
#user-page {font-family: 'Fredoka', sans-serif;}

#lib {display: flex; padding: 1%;}

#lib-profile {width: 40%; padding: 1%;}
#lib-profile img {width: 55%;}
#lib-profile a {text-decoration: none;}


#lib-books {width: 50%; padding: 1%;}

.book-card {padding: 2%;}

.book-buttons {display: flex; flex-direction: row;}
.book-buttons a {text-decoration: none; padding: 2%; margin-right: 4%; width: 20%; text-align: center;}