{% extends "base.html" %}

{% block content %}
<div>
    <h1>Are you looking for something?</h1>
    <form action="/search" method="post" id="search-form">
        {{ data.hidden_tag() }}
        {{ data.searched }}
        {{ data.submit }}
    </form>
</div>


{% if request.method == 'POST' %}
<div id="results">
    <h2>Results:</h2>
    {% if books %}
    <div id="books">
        <h3>Books</h3>
        {% for book in books %}
        <div class="book">
            {{ book.title }} | {{ book.author }} || <a href="user/{{ book.owner }}">Ask owner</a>
        </div>
        {% endfor %}
    </div>
    {% elif users %}
    <div id="users">
        <h3>Users</h3>
        {% for user in users %}
        <div class="user">
            <a href='/user/{{ user.id }}'>{{ user.name }}</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Nothing</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}