{% extends 'base.html' %}

{% block content %}
<form method="post" id="book-form">
    {{ form.hidden_tag() }}
    <div id="book-and-author">
        <div class="book-input">
            <label class="font-color">{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <div class="book-input">
            <label class="font-color">{{ form.author.label }}</label>
            {{ form.author }}
        </div>
    </div>
    <div class="book-input">
        <label class="font-color">{{ form.year_of_publication.label }}</label>
        {{ form.year_of_publication }}
    </div>
    <div class="book-input">
        <label class="font-color">{{ form.about.label }}</label>
        {{ form.about }}
    </div>
    <button class="btn font-color main-color" type="submit">Change info</button>
</form>
{% endblock %}