{% extends 'base.html' %}

{% block content %}
<div class="pages-main">
    <h1>Change book info</h1>
    <form method="post" id="book-form">
        <div id="book-and-author">
            <div class="book-input">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="{{ book_for_change.title }}"></div>
            <div class="book-input">
                <label for="author">Author</label>
                <input type="text" name="author" id="author" placeholder="{{ book_for_change.author }}">
            </div>
        </div>
        <div class="book-input">
            <label for="year_of_publication">Year of publication</label>
            <input type="text" name="year_of_publication" id="year_of_publication"
                   placeholder="{{ book_for_change.year_of_publication }}">
        </div>
        <div class="book-input">
            <label for="about">About</label>
            <textarea name="about" id="about" rows="8" placeholder="{{ book_for_change.about }}"></textarea>
        </div>
        {% for msg in get_flashed_messages(True) %}
        <div class="flash">{{ msg[1] }}</div> <br>
        {% endfor %}
        <button class="btn font-color main-color" type="submit">Change info</button>
    </form>
</div>
{% endblock %}