{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Give book</h1>
    <form method="post" id="book-form">
        <div class="book-input">
            <label for="give_book_to_email">Write email of you're friend</label>
            <input type="text" required name="give_book_to_email" id="give_book_to_email" placeholder="Email">
        </div>
        <button class="btn" type="submit">Give!</button>
        {% for msg in get_flashed_messages(True) %}
        <div class="flash">{{ msg[1] }}</div> <br>
        {% endfor %}
    </form>
</div>
{% endblock %}