{% extends "base.html" %}

{% block content %}
<div class="pages-main">
    <h4>Settings</h4>
        <div>
            <p>Name: {{ user_settings.name }}</p>
            <p>Email: {{ user_settings.email }}</p>
            <p>Place: {{ user_settings.place }}</p>
            <button id="change_info_btn" class="btn">Change info</button>
        </div>

    <div id="change_block" style="display: none;">
        <form method="post">
            <div class="input">
                <label for="name">Change name</label>
                <input type="text" name="settings_name" id="name" placeholder={{ user_settings.name }}>
            </div>
            <div class="input">
                <label for="email">Change Email</label>
                <input type="email" name="settings_email" id="email" placeholder={{ user_settings.email }}>
            </div>
            <div class="input">
                <label for="password">Change password</label>
                <input type="password" name="settings_password" id="password" placeholder="New password">
            </div>
            <div class="input">
                <label for="place">Change place</label>
                <input type="text" name="settings_place" id="place" placeholder={{ user_settings.place }}>
            </div>
            <div>
                {% for msg in get_flashed_messages(True) %}
                <div class="flash">{{ msg[1] }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn">Submit</button>
            <button type="submit" class="btn">
                <a href="/user/user_settings/delete/{{ current_user.id }}" style="color: white">Delete account</a>
            </button>
        </form>
    </div>
</div>
{% endblock %}