{% extends "base.html" %}

{% block content %}
<div class="settings">
    <h1>Settings</h1>
    <div id="settings-content">
        <div id="settings-old">
            <p>Name: {{ user_settings.name }}</p>
            <p>Email: {{ user_settings.email }}</p>
            <p>Place: {{ user_settings.place }}</p>
            <button id="change_info_btn" class="main-color font-color btn">Change info</button>
        </div>
        <form method="post" id="change_block">
            <div class="change-field">
                <label for="name">Name</label>
                <input type="text" name="settings_name" id="name" placeholder={{ user_settings.name }}>
            </div>
            <div class="change-field">
                <label for="email">Email</label>
                <input type="email" name="settings_email" id="email" placeholder={{ user_settings.email }}>
            </div>
            <div class="change-field">
                <label for="password">Password</label>
                <input type="password" name="settings_password" id="password" placeholder="New password">
            </div>
            <div class="change-field">
                <label for="place">Place</label>
                <input type="text" name="settings_place" id="place" placeholder={{ user_settings.place }}>
            </div>
            {% for msg in get_flashed_messages(True) %}
            <div class="flash">{{ msg[1] }}</div>
            {% endfor %}
            <div id="change-btns">
                <button type="submit" class="main-color font-color btn">Submit</button>
                <a href="/user/user_settings/delete/{{ current_user.id }}" class="btn main-color font-color">
                    Delete account
                </a>
            </div>
        </form>
    </div>
</div>

<script src={{url_for('static',filename='js/change_info.js')}}></script>
{% endblock %}