{% extends "base.html" %}

{% block content %}
<div class="pages-main">
    <h4>Settings</h4>
    <form method="post">
        <div>
            <div class="input">
                <label for="name">Change name</label>
                <input type="text" name="settings_name" id="name" placeholder={{ user_settings.name }}>
            </div>
            <div class="input">
                <label for="email">Change Email</label>
                <input type="email" name="settings_email" id="email" placeholder={{ user_settings.email }}>
            </div>
            <div class="input">
                <label for="password">Change password</label>
                <input type="password" name="settings_password" id="password" placeholder="New password">
            </div >
            {% for msg in get_flashed_messages(True) %}
                <div class="flash">{{ msg[1] }}</div> <br>
            {% endfor %}
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>

{% endblock %}