{% extends "base.html" %}

{% block content %}
{% if current_user.id == user_res.id %}
    <h3>My book's</h3>
    {% else %}
    <h3>{{ user_res.name }}</h3>
{% endif %}

<div class="lib">
    <div class="lib-profile">
        <img src="/static/img/users-photo/{{ user_res.user_photo }}"
             alt="user-img" class="user-img">
        <div>
            <p>Email: {{ user_res.email}}</p>
            <p>Place: {{ user_res.place }}</p>

            <a href="/user/user_settings/{{ current_user.id }}">Settings</a>
        </div>
    </div>
    <div class="lib-books">
        <div id='books' class="books">
            {% for book in user_books %}
            <div class="book">
                <div class="book-card">
                    <div class="books-text">
                        <h4>{{ book.title }} ({{ book.author }})</h4>
                        <div>
                            {% if book.owner == book.user_id %}
                            <p>Status: in home</p>
                            {% else %}
                            <p>Status: loan to {{ users[book.user_id - 1].name }}</p>
                            {% endif %}
                        </div>
                        <div>
                            <p>Year of publication: {{ book.year_of_publication }}</p>
                            <p id="about_book" style="display: none;">{{ book.about }}</p>
                            <p id="show_more_btn">Show more -></p>
                        </div>
                    </div>
                    <p class="book-buttons">
                        {% if current_user.is_authenticated and current_user.id == user_res.id %}
                        {% if book.owner == book.user_id %}
                        <button class="btn">
                            <a href="/book/give/{{ book.id }}" class="a-buttons">Give</a>
                        </button>
                        {% else %}
                        <button class="btn">
                            <a href="/book/give_back/{{ book.id }}" class="a-buttons">Give back</a>
                        </button>
                        {% endif %}
                        <button class="btn">
                            <a href="/book/change_info/{{ book.id }}" class="a-buttons">Change</a>
                        </button>
                        <button class="btn">
                            <a href="/book/delete/{{ book.id }}" class="a-buttons">Delete</a>
                        </button>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="took-books">
            {% if current_user.id == user_res.id and number_of_took_book > 0 %}
            <div><h3 style="margin: 2% 12%;">Took to read</h3></div>
            <div style="margin: 0 12%;">
                {% for book in took_book %}
                <h4>{{ book.book }}</h4>
                <p>Author: {{ book.author }}</p>
                <p>Year of publication: {{ book.year_of_publication }}</p>
                <p>About: {{ book.about }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="../static/js/show_more.js"></script>
{% endblock %}
