<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small_lib</title>
    {% include 'base_part/css.html' %}
</head>
<body>
<header>{% include 'base_part/header.html' %}</header>
<div id="main" class="main-color">
    {% block content %}{% endblock %}</div>
</div>
<footer>{% include 'base_part/footer.html' %}</footer>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
</script>
</body>
</html>
