<header>
    <div class="navbar">
        <div class="nav-title">
            <a href="/"><img src= {{url_for('static',filename='img/logo.png')}} class="navbar-img" alt="Small Lib"></a>
        </div>
        <div class="nav-menu">
            <a href="/users" class="nav-menu-link"><h5>Users</h5></a>
            <a href="/books" class="nav-menu-link"><h5>Books</h5></a>
            <a href="#" class="nav-menu-link"><h5>Genre</h5></a>
        </div>
        <div class="nav-bar">
            {% if current_user.is_authenticated %}
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="/user/{{ current_user.id }}">My lib</a></li>
                    <li><a class="dropdown-item" href="/book/add">Add book</a></li>
                    <li><a class="dropdown-item" href="/user/user_settings/{{ current_user.id }}">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout" id="logout_btn">Logout</a></li>
                </ul>
            </div>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <button type="button" class="btn" id="login_button">
                <a href="/login" class="navbar-href">Login</a>
            </button>
            <button type="button" class="btn">
                <a href="/registration" class="navbar-href">Sign-up</a>
            </button>
            {% endif %}
        </div>
    </div>
</header>