{% extends "base.html" %}

{% block content %}
<div class="users">
    {% for user in user_res %}
        <div class="user-card">
            <h4><a href='/user/{{ user.id }}'>{{ user.name }}</a></h4>
            <div class="user-books">
                {% for book in books_res %}
                    {% if book.user_id == user.id %}
                        <p>{{ book.book }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

