{% extends "base.html" %}

{% block content %}
<div>
    <!-- Page Username -->
    {% if current_user.id == user_res.id %}
    <h3 style="margin: 5% 0 4% 5%;">My lib</h3>
    {% else %}
    <h3>{{ user_res.name }}</h3>
    {% endif %}
    <!------------------>
</div>
<div style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;">
    <!-- Book -->
    {% for book in user_books %}
    <div>
        <ul style="list-style: none;">
            <li>
                <h4>{{ book.book }}</h4>
                <p>Author: {{ book.author }}</p>
                <p>Year of publication: {{ book.year_of_publication }}</p>
                <p>{{ book.about }}</p>
                {% if book.owner == book.user_id %}
                    <p>Status: in home</p>
                {% else %}
                <p>Status: loan to {{ users[book.user_id - 1].name }}</p>
                {% endif %}
            </li>
        </ul>
        <!-- Buttons -->
        {% if current_user.is_authenticated and current_user.id == user_res.id %}
        <p>
            {% if book.owner == book.user_id %}
            <button class="btn btn-primary">
                <a href="/give_book/{{ book.id }}" style="color: white">Give book</a>
            </button>
            {% endif %}
            <button class="btn btn-primary">
                <a href="/change_book_info/{{ book.id }}" style="color: white">Change info</a>
            </button>
            <button class="btn btn-primary">
                <a href="/del/{{ book.id }}" style="color: white">Delete</a>
            </button>
        </p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
