{% extends "base.html" %}


{% block content %}
<div class="container">
        <h3>Registration</h3>
            <form method="post">
                <input type="text" name="name" id="name" placeholder="Name"> <br> <br>
                <input type="text" name="email" id="email" placeholder="e-mail"> <br> <br>
                <input type="password" name="psw" id="psw" placeholder="Password"> <br> <br>
                <input type="password" name="psw_2" id="psw_2" placeholder="Return password"> <br> <br>
                {% for msg in get_flashed_messages(True) %}
                    <div class="flash">{{ msg[1] }}</div> <br>
                {% endfor %}
                <button class="btn btn-outline-primary" type="submit">Done!</button>
            </form>
    </div>
{% endblock %}