{% extends "pages/auth/auth.html" %}

{% block content %}
<h3 class="">Please Login</h3>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-floating">
        <label>{{ form.email.label }}</label>
        {{ form.email }}
    </div>
    <div class="form-floating">
        <label>{{ form.psw.label }}</label>
        {{ form.psw() }}
    </div>
    {{ form.submit() }}
</form>
<div id="login-footer">
    <a href="/registration" class="font-color">New account</a>
    <p class="">© 2023</p>
</div>
{% endblock %}
