{% extends "pages/auth/auth.html" %}

{% block content %}
<h3 class="font-color">Please Sigup</h3>
<form method="post" class="auth-form font-color main-color">
    {{ form.hidden_tag() }}
    <div class="form-floating">
        <label class="font-color">{{ form.name.label }}</label>
        {{ form.name }}
    </div>
    <div class="form-floating">
        <label class="font-color">{{ form.email.label }}</label>
        {{ form.email }}
    </div>
    <div class="form-floating">
        <label class="font-color">{{ form.psw.label }}</label>
        {{ form.psw() }}
    </div>
    <div class="form-floating">
        <label class="font-color">{{ form.psw_2.label }}</label>
        {{ form.psw_2() }}
    </div>
    {{ form.submit() }}
</form>
<div id="login-footer">
    <a href="/login" class="font-color">Already have account?</a>
    <p class="font-color">© 2023</p>
</div>
{% endblock %}
