<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lora&display=swap" rel="stylesheet">


<!-- CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/user-page.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/user-settings.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/book.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style-min.css')}}">
