<!-- Header -->
<a href="/" id="title-logo" class="font-color"><h1>Small Library</h1></a>
<div id="nav-menu" class="font-color">
    <a href="/search" id="nav-menu-a"><img src="{{url_for('static',filename='img/svg/loupe.svg')}}"></a>
    <div id="nav-auth">
        {% if current_user.is_authenticated %}
        <div id="dropdown">
            <button class="font-color main-color btn" id="dropdown-btn">Menu</button>
            <ul class="dropdown-menu second-color">
                <li><a class="dropdown-item font-color" href="/user/{{ current_user.id }}">My lib</a></li>
                <li><a class="dropdown-item font-color" href="/user/user_settings/{{ current_user.id }}">Settings</a></li>
                <li><a class="dropdown-item font-color" href="/logout" id="logout_btn">Logout</a></li>
            </ul>
        </div>
        {% else %}
        <div id="login-div">
            <a href="/login" class="btn main-color ">Login</a>
            <a href="/registration" class="btn main-color">Sign-up</a>
        </div>
        {% endif %}
    </div>
</div>

