<!-- Header -->

<a href="/"><h1>Small Library</h1></a>
<div id="nav-menu" class="font-color">
    <a href="/users">Users</a>
    <a href="/books">Books</a>
    <a href="#">Genre</a>
    <div>
        {% if not current_user.is_authenticated %}
        <a href="/login" class="btn second-color">Login</a>
        <a href="/registration" class="btn second-color">Sign-up</a>
        {% else %}
        <div class="dropdown">
            <button class="btn" type="button" id="dropdown">Menu</button>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="/user/{{ current_user.id }}">My lib</a></li>
                <li><a class="dropdown-item" href="/book/add">Add book</a></li>
                <li><a class="dropdown-item" href="/user/user_settings/{{ current_user.id }}">Settings</a></li>
                <li><a class="dropdown-item" href="/logout" id="logout_btn">Logout</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>

