{% extends 'admin/base.html' %}

{% block content %}
    <h3>Admin panel</h3>
    <form method="post">
            <input type="text" name="admin_user" id="admin_user" placeholder="Admin"> <br> <br>
            <input type="text" name="admin_psw" id="admin_psw" placeholder="Password"> <br> <br>
            {% for msg in get_flashed_messages(True) %}
                <div class="flash">{{ msg[1] }}</div> <br>
            {% endfor %}
            <button class="btn btn-outline-primary" type="submit">Login</button>
            <label class="checkbox"><input type="checkbox">Remember me</label>
    </form>
{% endblock %}